body { margin: 0px; }

/* Banner section */
.background {
    background-image: url('../img/bg.jpg'); 
    background-repeat: no-repeat;
    height: 750px; 
    width: 100%;
    position: relative
}
.graphic {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}
.graphic-mobile {
    display: none;
    width: 100%;
    height: auto;
}

/* Yelow-bar section */
.yellow-bar {
    background-color: #FEDD62;
    height: 150px;
    text-align:center;
    position: relative;
    padding-top: 43px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.msg1 {
    color: #EB2425;
    font-size: 30px;
}
.msg2 {
    color: #8A5D3B;
    font-size: 24px;
}

/* Button group section */
.btn-group {
    text-align: center;
}
.btn-group-mobile {
    display: none;
    text-align: center;
}

/* Scroll down button section */
#arrow {
    position: absolute;
    top: 441px;
    left: 49.9%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    transition: border 500ms ease-out;
    -webkit-transition : border 500ms ease-out; 
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    
}
#arrow::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#arrow:hover {
    transition: color .9s;
    opacity: .5;
    border: 1px solid #333;
    background-color: #333;
    transition: border 200ms ease-out;
    -webkit-transition : border 200ms ease-out; 
    -moz-transition : border 200ms ease-out;
    -o-transition : border 200ms ease-out;
}

@media screen and (max-width: 711px) {
    .background {
        display: none;
    }
    .graphic {
        display: none;
    }
    .graphic-mobile {
        display: block;
    }
    .yellow-bar {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        height: auto;
    }
    .msg1 {
        font-size: 4vw;
    }
    .msg2 {
        font-size: 3vw;
    }
    .btn-group {
        display: none;
    }
    .btn-group-mobile {
        display: block;
    }
    #btn-scroll {
        display:none;
    }
}